<html>
    <head>
        <title>{{ title }}</title>
        <style>
            table,
            table td {
              border: 1px solid #cccccc;
            }
            td {
              height: 80px;
              width: 160px;
              text-align: center;
              vertical-align: middle;
            }
          </style>
    </head>
    <style>
        table,
        table td {
          border: 1px solid #cccccc;
        }
        td {
          height: 80px;
          width: 160px;
          text-align: center;
          vertical-align: middle;
        }
      </style>
    <body>
        <table style="width:100%">
            <tr>
                <th>Turn On/Off Instance</th>
                <th>Instance Id</th>
                <th>Instance Type</th>
                <th>Monitoring State</th>
            </tr>
            <ul>
                {% for x in instances['Instances']: %}
                <tr>
                    <td align='center'> <form><input type=submit onclick="turnOnOffInstance(this)" style="background-color:red" value="click me"></form></td>
                    <td>{{ x.split("|")[0].replace("Instance Id:", "") }}</td>
                    <td>{{ x.split("|")[1].replace("Instance Type:", "") }}</td>
                    <td>{{ x.split("|")[2].replace("Instance Monitoring State:", "") }}</td>
                  </tr>
            {% endfor %}
            </ul>
            </table>
        </table>
    </body>
</html>